<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Estado Presente Representações </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans">
</head>

<body>
  <div class="large-screen">
    
    <div class="maincontent">
      <div class="content">
        <div class="content-image">
          <%= image_tag "67_pub.jpg", alt: "img_one", class: "img_content"%>
        </div>
        <div class="content-image">
          <%= image_tag "mtng_pub.jpg", alt: "img_two", class: "img_content"%>
        </div>
        <div class="content-image">
          <%= image_tag "take_fall.jpg", alt: "img_three", class: "img_content"%>
        </div>
      </div>
    </div> 
    <div class="footer">
      <div class="footer-copyright">
        <ul class="copyright-list">
          <li>Copyright</li>
          <li>Information</li>
          <li>About</li>
          <li>Copyright</li>
        </ul>
      </div>
      <div class="footer-links">
        <ul class="footer-list">
          <li class="contacts">Contactos:</li>
          <li class="contacts"><i class="fas fa-phone-square fa-rotate-90"></i></li>
          <li class="contacts">963390050 / 960443799</li>
          <li class="contacts"><i class="far fa-envelope"></i></li>
          <li class="contacts">antoniommarquesunp@gmail.com</li>
          <li class="contacts"><a href="https://www.facebook.com/estadopresenterep"><i class="fab fa-facebook-square"></i></a></li>
          <li class="contacts">Estado Presente</li>
        </ul>
      </div>
       <div class="footer-map">
        <%= image_tag "maps.jpg", alt: "footermap", class: "footermap"%>
      </div>
    </div>
  </div>
</body>

</html>